<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="reminderForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <div class="row" style="margin-top: 10px;">
            <div class="col-xs-2">
              <label for="patient_id">PatientId</label>
              <input
                type="number"
                id="patient_id"
                class="form-control"
                formControlName="patient_id">
            </div>
            <div class="col-xs-2">
              <label for="priority">Priority</label>
              <input
                type="text"
                id="priority"
                class="form-control"
                formControlName="priority">
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="row" style="margin-top: 10px;">
            <div class="col-xs-2">
              <label for="year">Year</label>
              <input
                type="number"
                id="year"
                class="form-control"
                formControlName="year">
            </div>
            <div class="col-xs-2">
              <label for="month">Month</label>
              <input
                type="number"
                id="month"
                class="form-control"
                formControlName="month">
            </div>
            <div class="col-xs-2">
              <label for="date">Date</label>
              <input
                type="number"
                id="date"
                class="form-control"
                formControlName="date">
            </div>
            <div class="col-xs-2">
              <label for="hours">Hours</label>
              <input
                type="number"
                id="hours"
                class="form-control"
                formControlName="hours">
            </div>
            <div class="col-xs-2">
              <label for="minutes">Minutes</label>
              <input
                type="number"
                id="minutes"
                class="form-control"
                formControlName="minutes">
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
              type="text"
              id="description"
              class="form-control"
              formControlName="description"
              rows="4"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="note">Note</label>
            <textarea
              type="text"
              id="note"
              class="form-control"
              formControlName="note"
              rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!reminderForm.valid">Save</button>
          <br><br>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
